<%-include('header')-%>
<div class="container mt-5">
    <h1>Edit Data</h1>
<form action = "/edit" method="post">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="rollNumber">Roll Number</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" id="rollNumber" name="rollNumber" value="<%=data.studentRollNumber%>" readonly required>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="name">Name</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" id="name" name="name" value="<%= data.studentName%>" required>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="date_of_birth">Date Of Birth</label>
        <div class="col-sm-10">
            <input class="form-control" type="date" id="date_of_birth" name="date_of_birth" value="<%=data.studentDob%>" required>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="score">Score</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" id="score" name="score" value="<%= data.studentScore%>" required>
        </div>
    </div>
    <button class="btn btn-info" type="submit">Save</button>
    <button class="btn btn-danger" type="reset">Clear</button>
</form> 
<form action="/addresult"><button class="btn btn-secondary" type="submit">Back</button></form>
</div>

<%-include('footer')-%>